# Forecasting the COVID-19 Virus Spread

## This second notebook will focus on using the data transformed from the first notebook and forecasting the spread of the Coronavirus

First of all, let's import the processed data from the first notebook. From there I would like to try out different models to see which way we can predict the spread the best possible way.

### Raw Data Sources
Taken from the John Hopkins University Github: https://github.com/CSSEGISandData/COVID-19

### Changes
* 24-03-2020: Start of project

In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import statsmodels
plt.style.use('seaborn')
%matplotlib inline

In [5]:
df = pd.read_csv('../input/corona-virus-report/covid_19_clean_complete.csv', parse_dates=['Date'])

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 2

In [50]:
df = df.drop(columns=['Unnamed: 0'])

In [51]:
df.index = pd.to_datetime(df.index)

In [4]:
confirmed_df.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
233,NaN,Grenada,12.116500,-61.679000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
234,NaN,Mozambique,-18.665695,35.529562,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
235,NaN,Syria,34.802075,38.996815,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
236,NaN,Timor-Leste,-8.874217,125.727539,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
237,NaN,Belize,13.193900,-59.543200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [54]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')